{% extends "layout.html" %}
{% block body %}
{% load static %}
<nav>
    <a href="#"><img id="set" src="{% static "settings.png" %}" alt="Settings"></a>
    <div id='app'>Green Trip</div>
    <button id='log'>LogIn</button>
</nav>
<div class="home">
    <form action="#" id="dest">
        <input type="text" class="input" list="options" placeholder="Source"><br><br>
        <input type="text" class="input" list="options" placeholder="Destination"><br>
        <datalist id="options">
            <option value="Noida"></option>
            <option value="Gurugram"></option>
            <option value="Faridabad"></option>
            <option value="Delhi"></option>
            <option value="Ghaziabad"></option>
        </datalist>
        <br><br>
        <button id="submit">Make a Green Trip</button>
    </form>
    <img src="{% static "animation.gif" %}" alt="Animation" id='car-animation'>
</div>
<div class="div-sections">
    <div class="space">
    <a href="#" class="section">
        <h4>Previous Rides</h4>
    </a>
    <a href="#" class="section">
        <h4>Car Number</h4>
    </a>
    <a href="#" class="section">
        <h4>Share Ride</h4>
    </a>
    </div>
    <div class="space">
    <a href="#" class="section">
        <h4>My Contributions</h4>
    </a>
    <a href="#" class="section">
        <h4>Distance Travelled</h4>
    </a>
    <a href="#" class="section">
        <h4>Track Your Ride</h4>
    </a>
    </div>
</div>
{% endblock body %}