body {
    margin: 0;
    padding: 0;
    background-color: rgb(30, 30, 30);
}

nav {
    display: flex;
    height: 7vh;
    background-color: rgb(30, 30, 30);
    justify-content: space-between;
    align-items: center;
}

#app {
    text-align: center;
    margin-left: 4%;
    color: rgb(16, 206, 32);
    font-size: 5vh;
    font-weight: bolder;
}

#log {
    background-color: rgb(34, 32, 32);
    color: azure;
    cursor: pointer;
    height: 6vh;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5px;
}

#set {
    height: 5vh;
    width: auto;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
}

.home{
    display: flex;
    background-color: rgb(30, 30, 30);
    color: rgb(245, 249, 249);
    margin: 0;
    padding: 0;
}

#car-animation{
    width: 50%;
}

#dest{
    width: 50%;
    height: auto;
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}

.input{
    height: 8vh;
    width: 35vw;
    padding-left: 15px;
    border-radius: 25px;
    border: 2px solid rgb(30, 30, 30);
    font-size: 20px;
}

#submit{
    height: 8vh;
    width: 25vw;
    border-radius: 25px;
    border: 2px solid rgb(30, 30, 30);
    cursor: pointer;
    background-color: rgb(37, 214, 37);
    color: white;
    font-size: larger;
}

.div-sections{
    background-color: rgb(143, 211, 109);
    margin-top: 5px;
    padding: 5px;
}

.space{
    display: flex;
    justify-content: space-between;
}

.section{
    width: 90%;
    height: auto;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    margin: 10px;
    text-decoration: none;
    color: black;
}

.section h4{
    font-size: 30px;
    text-align: center;
    padding: 10px;
    background-color: antiquewhite;
}

.section h3{
    font-size: 30px;
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

@media only screen and (max-width:800px) {
    nav{
        width: 100vw; 
        height: auto;
    }
    #app{
        width: auto;
        height: auto;
        font-size: medium;
    }
    #menu{
        width: auto;
        height: auto;
    }
    #log{
        width: auto;
        height: auto;
    }
    #set{
        width: auto;
        height: 3vh;
    }
    .home{
        display: block;
    }
    #car-animation{
        height: auto;
        width: 100%;
    }
    #dest{
        width: 100%;
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }
    .space{
        display: block;
    }
}